<%- include('partial/header'); -%>

    <div class="post-img">
        <img src="/img/4.jpg" alt="">
    </div>
    <!-- This is for content -->
    <div class="blog-post-content max-width-2 m-auto my-2">
        <h1 class="font1"> <%= title %>  </h1>
        <div class="blogpost-meta">
            <div class="author-info">
                <b>Author - <%= author %> </b>
                <div>15 November. 6 min read</div>
            </div>
            <div class="social">
                <img src="https://img.icons8.com/ios-glyphs/25/000000/linkedin.png" />
                <img src="https://img.icons8.com/ios-filled/25/000000/facebook-new.png" />
                <img src="https://img.icons8.com/ios-filled/25/000000/twitter.png" />
             <a href="/delete/<%= id %> "><img src="https://img.icons8.com/small/25/000000/filled-trash.png"/></a>
            </div>
        </div>
        <p class="font1">
          <%= content %>
        </p>
    </div>

    <div class="max-width-1 m-auto">
        <hr>
    </div>

        <!-- This is footer -->
        <%- include('partial/footer'); -%>